/* CONTENEDOR GENERAL */
.home-page {
  background: #0f172a;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}

/* NAVBAR */
.home-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #081539;
  padding: 15px 40px;
}

.brand-name {
  font-size: 18px;
  font-weight: bold;
}

.home-menu a {
  color: white;
  text-decoration: none;
   position: relative;
  left: -20x;
  font-size: 14px;
}

/* HERO */
.hero-banner {
  background: linear-gradient(to right, #1e3a8a, #1d3458);
  padding: 50px 40px;
}

.hero-text h1 {
  font-size: 42px;
  font-weight: bold;
}

.hero-text span {
  color: #60a5fa;
}

.hero-text p {
  margin-top: 10px;
  font-size: 14px;
}

/* LAYOUT PRINCIPAL */
.home-content {
  display: grid;
  min-height: 500px;
  height: calc(100vh - 140px); 
  grid-template-columns: 250px 180px 1fr 250px;
  gap: 20px;
  padding: 10px;
  flex: 1; 
  overflow: hidden;
}

/* PANEL IZQUIERDO */
.left-panel {
  width: 250px;
  height: 75%;
  background: #111827;
  border-radius: 15px;
}

/* LOGO */
.logo-section {
  text-align: center;
  margin-bottom: 20px;
}

.logo-section img {
  width: 700px;
  margin-bottom: 5px;
}

.logo-section h2 {
  font-size: 28px;
  letter-spacing: 5px;
}

/* NOTICIAS */
.news-card h3 {
  margin-bottom: 10px;
  margin-left: 25px;

}

.news-image {
  height: 180px;
  width: 175px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 1000px; 
}
.news-image img {
margin-bottom: 0px;
border-radius: 10px;
}

.news-card p {
  margin-bottom: 200px;
  margin-left: 25px;
  font-size: 10px;
}

/* COLUMNA DE CAMPUS */
.campus-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.campus-item {
  background: #111827;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  transition: 0.3s;
}

.campus-item img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.campus-item span {
  display: block;
  padding: 8px;
  font-size: 14px;
}

.campus-item:hover {
  transform: scale(1.05);
}

/* FOTO PRINCIPAL */
.main-photo {
  background: #1e3a8a;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

/* Imagen desde CSS */
.main-photo {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  height: 69%;
}

.photo-placeholder {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0; 
}

.instalacion {
  width: 100%;
  height: 100%;
}

.instalacion img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.photo-placeholder h2,
.photo-placeholder p {
  position: absolute;
  left: 20px;
  color: white;
}

.photo-placeholder h2 {
  margin-bottom: 330px;
  bottom: 55px;
  font-size: 22px;
}

.photo-placeholder p {
  bottom: 30px;
  font-size: 14px;
}

/* PANEL DERECHO */
.right-info {
  background: #3b5b9a;
  border-radius: 20px;
  padding: 20px;
  font-size: 14px;
  height: 69%;
  line-height: 1.6;
}

/* BOTÓN FLOTANTE */
.chat-floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2563eb;
  color: white;
  padding: 15px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}